



.textbox{
    

font-size: 3em;
 background-image: url("images/parchment\ 1.png");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
   
   
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    
  text-align: center;

box-sizing: border-box; 
overflow: auto;
text-align: center;
padding: 30px;
}

header{
    background-color: rgb(255, 244, 244);
    border: 2px solid black;
   
    
    
}


body{
        font-family: Roboto, 'Times New Roman', Times, serif;
           font-weight: bold;
           margin: 0px;
           background-image: url("images/axel-josefsson-AWtETjU1viI-unsplash.jpg");
           background-repeat: no-repeat;
 background-position: center;
 background-size:cover;
        
}
#head{
    font-size: 8em;
font-weight: bold;
text-align: center;
margin-bottom: 15px;
margin-top: 30px;

  display: flex;
    justify-content: space-evenly; 
    text-align: center;
    flex-wrap: wrap;
    align-content:center;
   
 
}

header{
    margin: 0px;
     background-image: url("images/copy2.png");
    background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

.navbar ul{
 
    
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    
    
}
.navbar a:hover{
    background-color: antiquewhite;
}

.II{
    list-style-type: none;
    display:flex;
    justify-content: center;
    gap: 10px;

}
    .u{
        display: block;
    }



