header{
    background-color: rgb(255, 244, 244);
    
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
   
    
    
}


header{
    margin: 0px;
    
}


body{
        font-family: Roboto, 'Times New Roman', Times, serif;
        margin: 0px;
      
        
}

main{
   font-weight: bold;
           margin: 0px;
           background-image: url("images/axel-josefsson-AWtETjU1viI-unsplash.jpg");
           background-repeat: no-repeat;
 background-position: center;
 background-size:cover;

}
#head{
    font-size: 8em;
font-weight: bold;
text-align: center;
margin-bottom: 15px;
margin-top: 30px;

  display: flex;
    justify-content: space-evenly; 
    text-align: center;
    flex-wrap: wrap;
    align-content:center;
   
 
}

.navbar ul{
  background-color: rgb(0, 0, 0);
  border: 3px solid black;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
.navbar a{
   
    color:aliceblue;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    
    
}
.navbar a:hover{
    background-color: hsla(0, 0%, 5%, 1);
    
}

.II{
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    gap: 75px;

}
    .u{
        display: block;
    }


    .headdoc{

        display: inline-block;
    }


.textbox{
    

font-size: 3em;
 background-image: url("images/parchment\ 6.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 
   
   
    
  text-align: center;

box-sizing: border-box; 

overflow: clip;
text-align: center;
padding: 0px;
display: inline-block;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}



.rats{

padding: 0;

position:absolute;

    right: 10%;
       
}

footer{
   font-size: 2em;
font-weight: bold;
    border: 2px solid black;
    background-color: rgb(224, 224, 224);
}



.footbox{
        

    margin: 3%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.headtext{
    padding: 30px;
}

